# **Pandas 실습 예제**

## **2.1 모듈 임포트**

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

## **2.2 Series**

In [ ]:
obj = Series([4, 7, -5, 3])
obj

In [ ]:
obj.values

In [ ]:
obj.index

- 각각의 데이터를 지칭하는 색인을 지정해서 Series 객체를 생성할 때

In [ ]:
obj2 = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

In [ ]:
obj2.index

In [ ]:
print(obj2['a'])
print('----------------------------')

obj2['d'] = 6
print(obj2[['c', 'a', 'd']])

- 불리언 배열을 사용해서 값을 걸러내거나 산술 곱셈을 수행하거나 또는 수학 함수를 적용하는 등 NumPy 배열 연산을 수행해도 색인-값은 유지됨

In [ ]:
obj2[obj2 > 0]

In [ ]:
obj2 * 2

In [ ]:
np.exp(obj2)

- Series는 고정길이의 정렬된 딕셔너리라고 생각하면 이해하기 쉬움

In [ ]:
'b' in obj2

In [ ]:
'e' in obj2

- 딕셔너리 객체로부터 Series 객체 생성하기

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

obj3 = pd.Series(sdata)
obj3

In [ ]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
obj4

- 누락된 데이터 찾기

In [ ]:
pd.isnull(obj4)

In [ ]:
pd.notnull(obj4)

In [ ]:
obj4.isnull()

- 서로 다르게 색인된 데이터에 대하여 산술 연산 수행하기

In [ ]:
print(obj3)
print('----------------------------')
print(obj4)
print('----------------------------')
print(obj3 + obj4)

- Name 속성 사용하기

In [ ]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

In [ ]:
print(obj)
print('----------------------------')
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
print(obj)

In [ ]:
obj.index[0] = ['Bob2']

## **2.3 DataFrame**

- DataFrame 데이터 생성
    - 같은 길이의 리스트에 담긴 딕셔너리 이용
    - NumPy 배열 이용

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

In [ ]:
frame

In [ ]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])

In [ ]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'three', 'four',
                             'five', 'six'])
frame2

In [ ]:
frame2.columns

In [ ]:
frame2['state']

In [ ]:
frame2.year

In [ ]:
frame2.loc['three']

- Column에 값 대입하기

In [ ]:
frame2['debt'] = 16.5
frame2

In [ ]:
frame2['debt'] = np.arange(6.)
frame2

- 리스트나 배열을 Column에 대입하기

In [ ]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
print(val)
print('-------------------------')
frame2['debt'] = val
frame2

- 없는 Column 대입하기

In [ ]:
frame2['eastern'] = frame2.state == 'Ohio'
frame2

In [ ]:
del frame2['eastern']
frame2.columns

In [ ]:
frame2

- 중첩된 딕셔너리를 이용해서 데이터를 생성할 때

In [ ]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [ ]:
frame3 = pd.DataFrame(pop)
frame3

In [ ]:
frame3.T

In [ ]:
pd.DataFrame(pop, index=[2001, 2002, 2003])

In [ ]:
pdata = {'Ohio': frame3['Ohio'][:-1],
         'Nevada': frame3['Nevada'][:2]}
pd.DataFrame(pdata)

- DataFrame 생성 시 Index와 Column의 이름 지정

In [ ]:
frame3.index.name = 'year'
frame3.columns.name = 'state'
frame3

- values 속성

In [ ]:
frame3.values

In [ ]:
frame2.values

## **2.4 Index**

- Index(색인) 객체 생성

In [ ]:
obj = pd.Series(range(3), index=['a', 'b', 'c'])
obj

In [ ]:
index = obj.index
index

In [ ]:
index[1:]

- 색인 객체는 변경 불가

In [ ]:
index[1] = 'd'

In [ ]:
labels = pd.Index(np.arange(3))
labels

In [ ]:
obj2 = pd.Series([1.5, -2.5, 0], index=labels)
obj2

In [ ]:
obj2.index is labels

In [ ]:
frame3

In [ ]:
frame3.columns

In [ ]:
'Ohio' in frame3.columns

In [ ]:
2003 in frame3.index

In [ ]:
dup_labels = pd.Index(['foo', 'foo', 'bar', 'bar'])
dup_labels

## **2.5 기타 주요 기능**

### 2.5.1 재색인

In [ ]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

In [ ]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
obj2

- Method 옵션 사용하기

In [ ]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3

In [ ]:
obj3.reindex(range(6), method='bfill')

- Row, Column 또는 모두 재색인하기

In [ ]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                     index=['a', 'c', 'd'],
                     columns=['Ohio', 'Texas', 'California'])
frame

In [ ]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

In [ ]:
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)

### 2.5.2 하나의 Row 또는 Column 삭제하기

- Series에서 Row 삭제

In [ ]:
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj

In [ ]:
new_obj = obj.drop('c')
new_obj

In [ ]:
obj

In [ ]:
obj.drop(['d', 'c'])

In [ ]:
obj

- DataFrame에서 Row / Column 삭제

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

In [ ]:
data.drop(['Colorado', 'Ohio'])

In [ ]:
data.drop('two', axis=1)

In [ ]:
data.drop(['two', 'four'], axis='columns')

In [ ]:
obj

- 삭제 결과를 데이터에 즉시 반영하기

In [ ]:
obj.drop('c', inplace=True)
obj

### 2.5.3 색인하기, 선택하기, 거르기

- 기본적인 색인 이용하기

In [ ]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj

In [ ]:
print(obj['b'])
print('----------------------')
print(obj[1])
print('----------------------')
print(obj[2:4])
print('----------------------')
print(obj[['b', 'a', 'd']])
print('----------------------')
print(obj[[1, 3]])
print('----------------------')
print(obj[obj < 2])

- 라벨명으로 슬라이싱하기

In [ ]:
print(obj['b':'c'])
print('----------------------')
obj['b':'c'] = 5
obj

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

In [ ]:
print(data['two'])
print('----------------------')
print(data[['three', 'one']])

In [ ]:
data

In [ ]:
data[:2]

In [ ]:
data[data['three'] > 5]

In [ ]:
data < 5

In [ ]:
data[data < 5] = 0
data

- 색인의 위치정보(loc/iloc) 이용하기

In [ ]:
data

In [ ]:
data.loc['Colorado', ['two', 'three']]

In [ ]:
print(data.iloc[2, [3, 0, 1]])
print('----------------------')
print(data.iloc[2])
print('----------------------')
print(data.iloc[[1, 2], [3, 0, 1]])
print('----------------------')
print(data.loc[:'Utah', 'two'])
print('----------------------')
print(data.iloc[:, :3][data.three > 5])

- 정수 인덱스 이용하기

In [ ]:
ser = pd.Series(np.arange(3.))
ser

In [ ]:
ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])
ser2

In [ ]:
ser2[-1]

In [ ]:
print(ser[:1])
print('----------------------')
print(ser.loc[:1])
print('----------------------')
print(ser.iloc[:1])

### 2.5.4 산술연산

- 기본 산술 연산

In [ ]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s1

In [ ]:
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1],
               index=['a', 'c', 'e', 'f', 'g'])
s2

In [ ]:
s1 + s2

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'), index=['Ohio', 'Texas', 'Colorado'])
df1

In [ ]:
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
df2

In [ ]:
df1 + df2

In [ ]:
df1 = pd.DataFrame({'A': [1, 2]})
df1

In [ ]:
df2 = pd.DataFrame({'B': [3, 4]})
df2

In [ ]:
df1 - df2

- 산술연산 메소드에 채워넣을 값 지정하기

In [ ]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)), columns=list('abcd'))
df1

In [ ]:
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)), columns=list('abcde'))
df2

In [ ]:
df2.loc[1, 'b'] = np.nan
df2

In [ ]:
df1 + df2

In [ ]:
df1.add(df2, fill_value=0)

In [ ]:
1 / df1

In [ ]:
df1.rdiv(1)

In [ ]:
df1.reindex(columns=df2.columns, fill_value=0)

- DataFrame과 Series 간 연산

In [ ]:
import numpy as np

arr = np.arange(12.).reshape((3, 4))
arr

In [ ]:
arr[0]

In [ ]:
arr - arr[0]

In [ ]:
import pandas as pd

In [ ]:
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                     columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

In [ ]:
series = frame.iloc[0]
series

In [ ]:
frame - series

In [ ]:
series2 = pd.Series(range(3), index=['b', 'e', 'f'])
series2

In [ ]:
frame

In [ ]:
frame + series2

In [ ]:
series3 = frame['d']
series3

In [ ]:
frame.sub(series3, axis='index')

### 2.5.5 정렬과 순위

- 인덱스 기반 정렬

In [ ]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj

In [ ]:
obj.sort_index()

In [ ]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                     index=['three', 'one'],
                     columns=['d', 'a', 'b', 'c'])
frame

In [ ]:
frame.sort_index()

In [ ]:
frame.sort_index(axis=1)

In [ ]:
frame.sort_index(axis=1, ascending=False)

- 밸류(값) 기반 정렬

In [ ]:
obj = pd.Series([4, 7, -3, 2])
obj

In [ ]:
obj.sort_values()

In [ ]:
obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])
obj

In [ ]:
obj.sort_values()

In [ ]:
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame

In [ ]:
frame.sort_values(by='b')

In [ ]:
frame.sort_values(by=['a', 'b'])

- 순위

In [ ]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj

In [ ]:
obj.rank()    # Series와 DataFrame의 rank 메소드는 동점인 항목에 대해서는 평균 순위를 매김

In [ ]:
obj.rank(method='first')    # 데이터 상에서 나타나는 순서에 따라 순위 매기기

In [ ]:
obj.rank(ascending=False, method='max')   # 내림차순 순위 매기기

In [ ]:
frame = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1],
                      'c': [-2, 5, 8, -2.5]})
frame

In [ ]:
frame.rank(axis='columns')

### 2.5.6 중복 색인

In [ ]:
obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj

In [ ]:
obj.index.is_unique

In [ ]:
print(obj['a'])
print('----------------------')
print(obj['c'])

In [ ]:
df = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
df

In [ ]:
df.loc['b']

### 2.5.7 기술통계 계산과 요약

- 기본 통계와 요약

In [ ]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
df

In [ ]:
df.sum()

In [ ]:
df.sum(axis='columns')

In [ ]:
df.mean(axis='columns', skipna=False)

In [ ]:
df.idxmax()

In [ ]:
df.cumsum()

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
obj = pd.Series(['a', 'a', 'b', 'c'] * 4)
obj

In [ ]:
obj.describe()

- 상관관계와 공분산

In [ ]:
price = pd.read_pickle('https://github.com/SkyLectures/LectureMaterials/raw/refs/heads/main/datasets/S01-01-04-03_01-YahooPrice.pkl')      # 야후 금융사이트에서 구한 주식 가격
price

In [ ]:
volume = pd.read_pickle('https://github.com/SkyLectures/LectureMaterials/raw/refs/heads/main/datasets/S01-01-04-03_01-YahooVolume.pkl')      # 야후 금융사이트에서 구한 시가 총액
volume

In [ ]:
returns = price.pct_change()      # 각 주식의 퍼센트 변화율
returns

In [ ]:
returns.head(3)

In [ ]:
returns.tail(10)

In [ ]:
returns['MSFT'].corr(returns['IBM'])      # corr 메소드: NA가 아니고 정렬된 색인에서 연속하는 두 Series에 대한 상관관계 계산

In [ ]:
returns['MSFT'].cov(returns['IBM'])       # cov 메소드: NA가 아니고 정렬된 색인에서 연속하는 두 Series에 대한 공분산 계산

In [ ]:
returns.MSFT.corr(returns.IBM)

In [ ]:
returns.corr()    # DataFrame의 corr 메소드: DataFrame 행렬상에서의 상관관계

In [ ]:
returns.cov()    # DataFrame의 cov 메소드: DataFrame 행렬상에서의 공분산

In [ ]:
returns.corrwith(returns.IBM)     # DataFrame의 corrwith 메소드: 다른 Series나 DataFrame과의 상관관계 계산. Series를 넘기면 각 Column에 대해 계산한 상관관계를 담고 있는 Series 반환

In [ ]:
returns.corrwith(volume)        # DataFrame의 corrwith 메소드: 다른 Series나 DataFrame과의 상관관계 계산. DataFrame을 넘기면 맞아떨어지는 Column에 대한 상관관계 계산

### 2.5.8 함수의 적용과 매핑

- 함수의 적용

In [ ]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

In [ ]:
np.abs(frame)

- 함수와 매핑

In [ ]:
f = lambda x: x.max() - x.min()
frame.apply(f)

In [ ]:
frame.apply(f, axis='columns')

- 람다 함수와 매핑

In [ ]:
def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

frame.apply(f)

In [ ]:
format = lambda x: '%.2f' % x
frame.applymap(format)

In [ ]:
frame['e'].map(format)

### 2.5.9 값 세기, 유일 값, 멤버십

- 값 세기

In [ ]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
obj

In [ ]:
obj.value_counts()

In [ ]:
pd.value_counts(obj.values, sort=False)

- 유일 값

In [ ]:
unique_vals = pd.Series(['c', 'b', 'a'])
unique_vals

- 멤버십과 마스크

In [ ]:
mask = obj.isin(['b', 'c'])
mask

In [ ]:
obj[mask]

In [ ]:
to_match = pd.Series(['c', 'a', 'b', 'b', 'c', 'a'])
to_match

In [ ]:
pd.Index(unique_vals).get_indexer(to_match)

In [ ]:
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
                     'Qu2': [2, 3, 1, 2, 3],
                     'Qu3': [1, 5, 2, 4, 4]})
data

In [ ]:
result = data.apply(pd.value_counts).fillna(0)
result

### 2.5.10 누락된 데이터 처리하기

In [ ]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
string_data

In [ ]:
string_data.isnull()

In [ ]:
string_data[0] = None
string_data.isnull()

In [ ]:
data = Series([1, np.nan, 3.5, np.nan, 7])
data

In [ ]:
data.dropna()

In [ ]:
data

In [ ]:
data[data.notnull()]

In [ ]:
data = DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan],
                  [np.nan, np.nan, np.nan], [np.nan, 6.5, 3.]])
data

In [ ]:
cleaned = data.dropna()

In [ ]:
cleaned

In [ ]:
data

In [ ]:
data.dropna(how='all')      # 모든 값이 NA인 Row 제거

In [ ]:
from numpy import nan as NA

In [ ]:
data[4] = NA

In [ ]:
data

In [ ]:
data.dropna(axis=1, how='all')

In [ ]:
df = DataFrame(np.random.randn(7, 3))
df

In [ ]:
df.loc[:4, 1] = NA
df

In [ ]:
df.loc[:2, 2] = np.nan
df

In [ ]:
df.dropna(thresh=3) # 몇 개 이상의 값이 들어있는 Row만 남기고 나머지는 모두 Drop시키려면, thresh 파라미터에 원하는 개수를 넣는다.

In [ ]:
df.fillna(0)

In [ ]:
df.fillna({1: 0.5, 2: -1})

In [ ]:
_ = df.fillna(0, inplace=True)
df

In [ ]:
df = DataFrame(np.random.randn(6, 3))
df

In [ ]:
df.loc[2:, 1] = np.nan
df

In [ ]:
df.loc[4:, 2] = np.nan
df

In [ ]:
df.fillna(method='ffill')

In [ ]:
df.fillna(method='ffill', limit=2)

In [ ]:
data = Series([1., np.nan, 3.5, np.nan, 7])
data

In [ ]:
data.fillna(data.mean())